.post-grid {

    /* background: #fcfcfc; */
    display: grid;
    gap: 2rem;
    /* grid-template-columns: repeat(auto-fill, minmax(100px, calc(33% - 1rem) )); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr ));

}


.index-item.post {
    box-sizing: border-box; 
    border-bottom: 2px solid;
}

.index-item.post > * {
    margin-bottom: 0.5rem;
}

.ii-post-info {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ii-post-info > * {
    margin-bottom: 0.5rem;
}

.ii-post-thumbnail {
    display: block;
    width: 100%;
    background: #ececec;
    /* aspect-ratio: 600/300; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ii-post-thumbnail:after {
    content: '';
    width: 100%;
    display: block;
    padding-top: 50%;
}

.ii-post-title {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.1em;
}

.ii-post-summary {
    font-size: 0.9rem;
    line-height: 1.2em;
    flex-grow: 1;
}

.sidebar-panel .tag-link {
    background: #ccc;
    color: white;
    display: inline-block;
    padding: 3px 5px;
    margin: 3px;
    border-radius: 5px;

    font-size: 0.8rem;
    font-weight: 700 !important;
}

.sidebar-panel .tag-link-count {
    display: inline-block;
    margin-left: 10px;
   

}

.sidebar-panel .type-link {
    background: #ccc;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    margin: 3px;
    border-radius: 5px;

    font-size: 0.8rem;
    font-weight: 700 !important;
}

.sidebar-panel .type-link-count {
    display: inline-block;
    margin-left: 10px;
}